/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/* Changed font and color from style 1 */
#main-title{
    color: #fdfdff;
    font-family: Cinzel, serif;
    text-align: center;
    font-size: 4rem
}

/*Added a fixed background image*/

body{
    padding: 30px;
    background-image: url("../assets/images/garden.jpg");
    background-attachment: fixed;
}


/*Set all headers to use a different color and font*/
h2{
    color: #fdfdff;
    font-family: Cinzel, serif;
}

/*Made each section a pretty box with corners, font colors, and set floating on different edges */
.section{
    color: #f1ffcf;
    background-color: #212922;
    padding: 1em;
    border-radius: 8px;
    margin: 20px;
}

#courses {
    max-width: 60%;
    float: left;
}

#faculty {
    float: right;
    /*max-width: 200px;*/
    min-width: 30%;
}

/*Arranged the faculty pictures in a square*/
#faculty>ul{
    column-count: 2;
}

#pslo{
    float: right;
}

img.pic {
    height: 150px;
    width: 150px;
    border: 3px solid #3e6259;
}

#style li a {
    display: block;
    color: #f1ffcf;
    text-decoration: none;
}

#style li {
    float: left;
    margin-right: 40px;
}

#style{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: #212922;
    border-radius: 16px 16px 0px 0px
  }

  #style li a:hover {
      color: #3e6259;
      text-shadow: 1px 3px #212922;
  }
